<head>
    <meta charset="UTF-8">
    <title>{{site.mu-name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.mu-description}}">
    <meta name="keywords" content="{{site.keywords}}">

    <meta property="og:image" content="" />
    <meta property="og:title" content="{{site.mu-name}}" />
    <meta property="og:site_name" content="{{site.mu-name}}" />
    <meta property="og:url" content="https://higherkindness.io/mu" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{site.mu-description}}" />
    <meta property="og:keywords" content="{{site.keywords}}" />

    <meta name="twitter:text:description" content="{{site.mu-description}}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@47deg">
    <meta name="twitter:creator" content="@47deg">
    <meta name="twitter:image" content="" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ 'img/mu-favicon.png' | relative_url }}">

    <!-- Mu main css -->
    <link rel="stylesheet" type="text/css" href="{{ 'css/mu-styles.css' | relative_url }}">
</head>
