<header id="masthead">
    <div class="container">
        <div class="masthead-content">
             <div class="masthead-text">
                 <h2>{{ site.mu-description }}</h2>
                 <a class="button button-large" href="/mu">Mu Scala</a>
                 <a class="button button-large" href="/mu-kotlin">Mu Kotlin</a>
				 <a class="button button-large" href="/mu-haskell">Mu Haskell</a>
             </div>
             <div class="masthead-brand">
                 <img src="/img/mu-masthead-image.svg" alt="">
             </div>
        </div>
    </div>
</header>
