<header id="masthead">
    <div class="container">
        <div class="masthead-content">
            <div class="masthead-text">
                <h2>{{ site.mu-description }}</h2>
            </div>
            <div class="masthead-link-container">
              {% for item in site.data.mu-libraries.content %}
              <div class="library-container">
                <img class="library-icon" src="{{ item.icon | relative_url }}" alt="{{ item.title }}" title="{{ item.title }}" />
                <a class="card" style="background:{{ item.colour }}" href="{{ item.name | downcase | relative_url }}">
                  <div class="card-content">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <div>
                      {{ item.description }}
                    </div>
                  </div>
                  <div class="card-cta">Learn more</div>
                </a>
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
</header>
