<main id="content">
    <div class="container">
        <section class="container-title">
          <h2>What it does?</h2>
        </section>
        <section class="features">
           {% for item in site.data.mu-features.content %}
            <div class="feature-item">
                <img src="{{ item.icon | relative_url }}" alt="{{ item.title }}" title="{{ item.title }}" />
                <h3 class="feature-title">{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            </div>
            {% endfor %}
        </section>
    </div>
</main>
