<header id="masthead">
    <div class="container">
        <div class="masthead-content">
             <div class="masthead-text">
                 <h1>Higherkindness</h1>
                 <h2>User focused<br/> libraries for FP</h2>
                 <a class="button button-large" href="/docs/compile/">Learn More</a>
             </div>
             <div class="masthead-brand">
                 <img src="/img/higherkindness-logo-masthead.svg" alt="">
             </div>
        </div>
    </div>
</header>