// Footer
// -----------------------------------------------
// -----------------------------------------------

#footer {
    @include fadeIn(
    $duration: 0.8s,
    $delay: 0.6s,
    $function: ease);

    padding: ($base-point-grid * 6) /*48px*/ 0;
    font-size: 0.875rem;
    p {
        color: $brand-secondary;
    }
}
