// Masthead
// -----------------------------------------------
// -----------------------------------------------
#masthead {
  background: $brand-secondary;

  .masthead-content {
    padding: ($base-point-grid * 10) 0 ($base-point-grid * 12) 0;
    @include flexbox;
    @include align-items(center);
    .masthead-text {
      @include flex(1);
      h2 {
        color: $white;
        margin-bottom: ($base-point-grid * 3);
        font-size: 2.533rem;
        font-weight: 600;
      }

      a {
        margin-right: $base-point-grid;
      }

      @include fadeInDown($duration: 1s, $delay: 0.2s, $function: ease);
    }
    .masthead-brand {
      @include flex(1);
      max-width: 100%;

      @include fadeInDown($duration: 1s, $delay: 0.6s, $function: ease);

      img {
        max-width: 100%;
      }
    }
  }
}

// Responsive mode
@include bp(medium) {
  #masthead {
    .masthead-content {
      @include flex-wrap(wrap);
      padding: ($base-point-grid * 8) 0;
      .masthead-text,
      .masthead-brand {
        @include flex(0 0 100%);
      }

      .masthead-text {
        @include order(2);
        text-align: center;
        h2 {
          font-size: 1.8rem;
        }
      }
      .masthead-brand {
        @include order(1);
        text-align: center;
        img {
          margin-bottom: ($base-point-grid * 4);
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
