// Masthead
// -----------------------------------------------
// -----------------------------------------------
#masthead {
  margin-top: $navbar-height;

  .masthead-content {
    min-height: 600px;
    padding: ($base-point-grid * 6) 0 ($base-point-grid * 12) 0;
    text-align: center;
    @include flexbox;
    flex-direction: column;
    @include align-items(center);
    .masthead-text {
      @include flex(1);
      padding: 0 ($base-point-grid * 4);

      h2 {
        color: $white;
        margin-bottom: ($base-point-grid * 12);
        font-size: 3rem;
        font-weight: $font-bold;
      }

      a {
        margin-right: $base-point-grid;
      }

      @include fadeInDown($duration: 1s, $delay: 0.2s, $function: ease);
    }
    .masthead-brand {
      @include flex(1);
      max-width: 100%;

      @include fadeInDown($duration: 1s, $delay: 0.6s, $function: ease);

      img {
        max-width: 100%;
      }
    }
  }

  .masthead-link-container {
    display: grid;
    grid-gap: ($base-point-grid * 3);
    grid-template-columns: 1fr 1fr 1fr;

    .library-container {
      display: flex;
      flex-direction: column;
      min-width: 30%;

      &:nth-child(1) {
        @include fadeIn($duration: 0.8s, $delay: 0.6s, $function: ease);
      }

      &:nth-child(2) {
        @include fadeIn($duration: 0.8s, $delay: 0.9s, $function: ease);
      }

      &:nth-child(3) {
        @include fadeIn($duration: 0.8s, $delay: 1.1s, $function: ease);
      }
    }
  }

  .library-icon {
    flex: 1 1 25%;
    margin: 0 auto ($base-point-grid * 3);
    max-width: 50%;
  }

  .card {
    flex: 1 1 220px;
    max-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    font-size: 0.9rem;
    color: $white;
    padding: ($base-point-grid * 2) ($base-point-grid * 2);
    transition: box-shadow 150ms $base-timing;

    &:visited {
      color: $white;
    }
    &:hover {
      box-shadow: inset 0 0 35px 110px rgba(0, 0, 0, 0.2);
      text-decoration: none;
    }
    &:active {
      background: $white;
    }

    .card-title {
      font-size: 1.3rem;
      font-weight: $font-semibold;
      margin-bottom: $base-point-grid;
    }

    .card-content {
      max-height: 150px;
      overflow: hidden;
    }

    .card-cta {
      text-transform: uppercase;
    }
  }
}

// Responsive mode
@include bp(large) {
  #masthead {
    .masthead-link-container {
      grid-template-columns: 1fr;

      .library-container {
        flex-direction: row;
      }
    }

    .library-icon {
      display: none;
    }

    .card {
      min-height: 150px;
    }
  }
}

@include bp(medium) {
  #masthead {
    .masthead-content {
      @include flex-wrap(wrap);
      padding: ($base-point-grid * 8) 0;
      .masthead-text,
      .masthead-brand {
        @include flex(0 0 100%);
      }

      .masthead-text {
        h2 {
          font-size: 2.5rem;
        }
      }

      .masthead-brand {
        @include order(1);
        text-align: center;
        img {
          margin-bottom: ($base-point-grid * 4);
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
